<h1><%-title %></h1>
<h1 class="display-4 mb-4">
    Check For ID
</h1>
<form action="/checkPaymentId" method="GET" accept-charset="utf-8">
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="paymentRef" placeholder="uj/2002/ns/0123">
          <input type="text" class="form-control form-control-lg" name="paymentRef" placeholder="ert-rtg-erfg">
    </div>
    <input type="submit" value="Check" class="btn btn-dark btn-lg mt-4">
    <a href="/" class="btn btn-danger btn-lg mt-4">Cancel</a>
</form>
